.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.nav__logo--end {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header__content {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.nav-list {
  display: none;
  margin-left: 93px;
  color: var(--first-color);
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.nav-list__link,
.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__link.current::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -35px;
  left: 0;
  @media screen and (min-width: 1200px) {
    bottom: -39px;
  }
}

.current {
  color: var(--accent-color);
}

.contacts-list {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts-list__link {
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
  &:hover .contacts-list__icon--mail,
  &:focus .contacts-list__icon--mail {
    fill: var(--accent-color);
  }

  &:hover .contacts-list__icon--tel,
  &:focus .contacts-list__icon--tel {
    fill: var(--accent-color);
  }
}

.contacts-list__icon--mail {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon--tel {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-menu__open {
  border: none;
  padding: 0;
  box-shadow: none;
  &:hover .button-menu__icon--open,
  &:focus .button-menu__icon--open {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu__icon--open {
  fill: var(--first-color);
  background-color: var(--third-background-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding-top: 21px;
  padding-bottom: 48px;
  background-color: var(--third-background-color);
  .mob-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
}

.mob-container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.button-menu__close {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  border: none;
  padding: 0;
  box-shadow: none;
  &:hover .button-menu__icon--close {
    fill: var(--accent-color);
  }
}

.button-menu__icon--close {
  fill: var(--first-color);
  background-color: var(--third-background-color);
}

.mob-nav-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.mob-nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-contacts-list__item {
  margin-bottom: 32px;
}

.mob-contacts-list__item:last-child {
  margin-bottom: 64px;
}

.mob-contacts-list__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contacts-list__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.mob-soc-list {
  display: flex;
}

.mob-soc-list__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
